<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                 Dynamic and results-driven Senior Data Engineer with 4 years of experience in building scalable data
                 pipelines, developing machine learning solutions, and solving complex architectural challenges. Expertise in
                 automating and optimizing data integration workflows, enhancing database performance, and ensuring high
                 data quality. Passionate about leveraging advanced data engineering practices and business acumen to
                 deliver impactful, data-driven solutions that empower organizations to make informed decisions.
            </p>
            <p class="paragraph-text justify-text">
                I maintain a small <a href="https://medium.com/@puteradarmas19">medium</a> account, sharing how Data Consultants, both scientists and engineers, analyze and plan their work, emphasizing how it works in projects and businesses.
            </p>
            <p class="paragraph-text justify-text">
                I post my webapp and AI projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
